<fieldset>
    <h2>Requisitos del Cargo</h2>
    <div class="row">
        <div class="">
            <div class="form-group">
                <label>Funciones del Cargo *</label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label>Retos y prioridades *</label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label>Resultados Esperados *</label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
        </div>
    </div>
    <a ui-sref="evaluacion.paso_uno" class="btn btn-default">Anterior</a>
    <a ui-sref="evaluacion.paso_tres" class="btn btn-primary">Siguiente</a>
</fieldset>