<fieldset>
    <h2>Resumen</h2>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Acerca de la oferta</h5>
                </div>
                <div class="ibox-content">


                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Titulo de la Oferta</label>
                                <p>El Titulo de la Oferta</p>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label>Area y Subarea de dominio</label>
                                <p>El Area y Subarea de dominio</p>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label>Cargo Equivalente</label>
                                <p>El Cargo Equivalente</p>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label>Nivel del Cargo</label>
                                <p>El Nivel del Cargo</p>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label>Salario Ofrecido</label>
                                <p>Minimo: $0</p>
                                <p>Maximo: $0</p>
                            </div>
                            <div class="hr-line-dashed"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Ubicacion de la oferta</label>
                                <p>La Ubicacion de la oferta</p>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label>Vacantes Disponibles</label>
                                <p>El numero de Vacantes</p>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label>Fecha de Inicio</label>
                                <p>La fecha de Inicio</p>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label>Tiempo de Vigencia</label>
                                <p>El tiempo de Vigencia en dias</p>
                            </div>
                            <div class="hr-line-dashed"></div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Requisitos del Cargo</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-group">
                        <label>Funciones del Cargo</label>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus voluptas dolorum iusto omnis repellat ipsum, expedita impedit fuga voluptatem architecto quibusdam sapiente ut et inventore pariatur, praesentium enim ipsa incidunt.</p>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label>Retos y prioridades</label>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione repellat provident eaque unde quidem soluta, accusamus quo, ipsa molestias, quaerat officia magnam corporis assumenda in id sunt ex. Iste, illo.</p>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label>Resultados Esperados</label>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias eos eius maiores pariatur ipsa nihil quam, quos iusto voluptate quibusdam sint enim! Tempora, esse molestias. Optio odit aspernatur officia iste!</p>
                    </div>
                    <div class="hr-line-dashed"></div>
                </div>
            </div>

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Candidato</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-group">
                        <label>Nivel Academico</label>
                        <p>El nivel academico</p>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label>Titulo academico</label>
                        <p>El Titulo academico</p>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label>Idiomas</label>
                        <ul>
                            <li>Listado de Idiomas + Dominio</li>
                            <li>Listado de Idiomas + Dominio</li>
                        </ul>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label>Caracteristicas Personales</label>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab sequi recusandae atque enim, tenetur numquam dolorem! Laudantium dolore dolorum eligendi laboriosam labore. Doloribus maiores necessitatibus eum! Cupiditate, hic? Obcaecati, sint?</p>
                    </div>
                    <div class="hr-line-dashed"></div>
                </div>
            </div>

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Terminos y condiciones</h5>
                </div>
                <div class="ibox-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <input id="acceptTerms" name="acceptTerms" type="checkbox" ng-model="formData.terms" class="required"> <label for="acceptTerms">Estoy de acuerdo con los Términos y Condiciones.</label>
                </div>
            </div>
        </div>
    </div>
    <a ui-sref="solicitudes" class="btn btn-default">Cancelar</a>
    <a ui-sref="reclutamiento.dashboard" class="btn btn-primary">Solicitar</a>
</fieldset>