<fieldset>
    <h2>Requisitos del Cargo</h2>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label>Funciones del Cargo *</label>
                <textarea name="" id="funciones_cargo" cols="30" rows="2" style="display:block; width:100%; border-color: #e7eaec;"></textarea>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label>Retos y Prioridades *</label>
                <textarea name="" id="" cols="30" rows="2" style="display:block; width:100%; border-color: #e7eaec;"></textarea>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label>Resultados Esperados *</label>
                <textarea name="" id="" cols="30" rows="2" style="display:block; width:100%; border-color: #e7eaec;"></textarea>
            </div>
            <div class="hr-line-dashed"></div>
        </div>
    </div>
    <a ui-sref="reclutamiento.paso_uno" class="btn btn-default">Anterior</a>
    <a ui-sref="reclutamiento.paso_tres" class="btn btn-primary">Siguiente</a>
</fieldset>
<script>
    setTimeout(function(){
        $('#funciones_cargo').focus();
    }, 1000);
</script>