<div class="splash_screen">
	<img src="imgs/logos/Input-Vertical-Logo-Dark-Bg.png" alt="">
	<p>by Soluntech</p>
</div>

<div class="login">
	<div class="container-fluid">
		<div class="form-group text-center">
			<img src="imgs/logos/Input-Vertical-Logo-Dark-Bg.png" class="logo">
		</div>
		<form action="">
			<div class="form-group">
				<input autofocus class="form-control" type="text" placeholder="Username">
			</div>
			<div class="form-group">
				<input class="form-control" type="password" placeholder="Password">
			</div>
			<div class="form-group text-center" ng-controller="LoginCtrl">
				<button ng-click="onLogin()" class="btn btn-info fullwidth">Login</button>
			</div>
			<div class="form-group text-center">
				<label>Or</label>
			</div>
			<div class="form-group text-center">
				<button class="btn btn-danger fullwidth">
					<i class="fa fa-google-plus pull-left m-t-xs"></i> Login with Google
				</button>
			</div>
		</form>
		<a href="" class="pull-left">Sign Up</a>
		<a href="" class="pull-right">Need Help?</a>
	</div>
</div>