<div class="splash_screen">
	<img src="imgs/logos/Input-Vertical-Logo-Dark-Bg.png" alt="">
	<p>by Soluntech</p>
</div>

<div class="login">
	<div class="container-fluid">
		<div class="form-group text-center">
			<img src="imgs/logos/Input-Vertical-Logo-Dark-Bg.png" class="logo">
		</div>
		<form action="">
			<div class="form-group">
				<input autofocus class="form-control" type="text" placeholder="{{ lang.login_username }}">
			</div>
			<div class="form-group">
				<input class="form-control" type="password" placeholder="{{ lang.login_password }}">
			</div>
			<div class="form-group text-center" ng-controller="LoginCtrl">
				<button ng-click="onLogin()" class="btn btn-info fullwidth">{{ lang.login_button }}</button>
			</div>
			<div class="form-group text-center">
				<label>{{ lang.login_or }}</label>
			</div>
			<div class="form-group text-center">
				<div ng-google-login></div>
			</div>
		</form>
		<a href="#/signup" class="pull-left">{{ lang.login_linkTo_signup }}</a>
		<a href="" class="pull-right">{{ lang.login_linkTo_help }}</a>
	</div>
</div>

<div ng-translate></div>