<div class="signup">
	<div class="container-fluid">
		<div class="form-group text-center">
			<img src="imgs/logos/Input-Vertical-Logo-Dark-Bg.png" class="logo">
		</div>
		<form action="">
			<div class="form-group">
				<input autofocus class="form-control" type="text" placeholder="Texto">
			</div>
			<div class="form-group">
				<input class="form-control" type="text" placeholder="Texto">
			</div>
			<div class="form-group text-center">
				<button class="btn btn-info fullwidth">{{ lang.signup_button }}</button>
			</div>
		</form>
		<a href="#/" class="pull-left">{{ lang.signup_button }}</a>
		<a href="" class="pull-right">{{ lang.signup_linkTo_help }}</a>
	</div>
</div>

<div ng-translate></div>