<div class="row border-bottom white-bg dashboard-header">
    <div class="col-sm-3">
        <a ui-sref="solicitudes_pendientes">
            <div class="widget yellow-bg p-lg text-center">
                <div class="m-b-md">
                    <i class="fa fa-bell fa-4x"></i>
                    <h1 class="m-xs">1</h1>
                    <h3 class="font-bold no-margins">
                        Solicitud Pendiente
                    </h3>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <a ui-sref="contactos">
            <div class="widget navy-bg p-lg text-center">
                <div class="m-b-md">
                    <i class="fa fa-user fa-4x"></i>
                    <h1 class="m-xs">6</h1>
                    <h3 class="font-bold no-margins">
                        Contactos
                    </h3>
                </div>
            </div>
        </a>
    </div>
</div>