<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Solicitud #2</h2>
        <ol class="breadcrumb">
            <li>
                <a href="dashboard.html">Dashboard</a>
            </li>
            <li>
                <a href="#/solicitudes">Solicitudes</a>
            </li>
            <li class="active">
                <strong>Detalle</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="clearfix"></div>
<div class="animated fadeInRight" style="margin-top: 20px;">
    <div class="mail-box-header">
        <a class="pull-right" ui-sref="solicitudes">Atras</a>
        <h2>Detalle de la solicitud</h2>
        <div class="mail-tools tooltip-demo m-t-md">
            <h3>
                <span class="font-noraml">Subject: </span>Solicitud
            </h3>
            <h5>
                <span class="pull-right font-noraml">10:15AM 02 FEB 2014</span>
                <span class="font-noraml">From: </span>alex.smith@corporation.com
            </h5>
        </div>
    </div>
    <div class="mail-box">
        <div class="mail-body">
            <div class="ibox float-e-margins" style="margin-bottom: 0px;">
                <div class="ibox-title">
                    <h5>Acerca de la oferta</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Titulo de la Oferta</label>
                                <p>El Titulo de la Oferta</p>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label>Area y Subarea de dominio</label>
                                <p>El Area y Subarea de dominio</p>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label>Cargo Equivalente</label>
                                <p>El Cargo Equivalente</p>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label>Nivel del Cargo</label>
                                <p>El Nivel del Cargo</p>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label>Salario Ofrecido</label>
                                <p>Minimo: $0</p>
                                <p>Maximo: $0</p>
                            </div>
                            <div class="hr-line-dashed"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Ubicacion de la oferta</label>
                                <p>La Ubicacion de la oferta</p>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label>Vacantes Disponibles</label>
                                <p>El numero de Vacantes</p>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label>Fecha de Inicio</label>
                                <p>La fecha de Inicio</p>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label>Tiempo de Vigencia</label>
                                <p>El tiempo de Vigencia en dias</p>
                            </div>
                            <div class="hr-line-dashed"></div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="ibox float-e-margins" style="margin-bottom: 0px;">
                <div class="ibox-title">
                    <h5>Requisitos del Cargo</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-group">
                        <label>Funciones del Cargo</label>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus voluptas dolorum iusto omnis repellat ipsum, expedita impedit fuga voluptatem architecto quibusdam sapiente ut et inventore pariatur, praesentium enim ipsa incidunt.</p>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label>Retos y prioridades</label>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione repellat provident eaque unde quidem soluta, accusamus quo, ipsa molestias, quaerat officia magnam corporis assumenda in id sunt ex. Iste, illo.</p>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label>Resultados Esperados</label>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias eos eius maiores pariatur ipsa nihil quam, quos iusto voluptate quibusdam sint enim! Tempora, esse molestias. Optio odit aspernatur officia iste!</p>
                    </div>
                    <div class="hr-line-dashed"></div>
                </div>
            </div>

            <div class="ibox float-e-margins" style="margin-bottom: 0px;">
                <div class="ibox-title">
                    <h5>Candidato</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-group">
                        <label>Nivel Academico</label>
                        <p>El nivel academico</p>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label>Titulo academico</label>
                        <p>El Titulo academico</p>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label>Idiomas</label>
                        <ul>
                            <li>Listado de Idiomas + Dominio</li>
                            <li>Listado de Idiomas + Dominio</li>
                        </ul>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label>Caracteristicas Personales</label>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab sequi recusandae atque enim, tenetur numquam dolorem! Laudantium dolore dolorum eligendi laboriosam labore. Doloribus maiores necessitatibus eum! Cupiditate, hic? Obcaecati, sint?</p>
                    </div>
                    <div class="hr-line-dashed"></div>
                </div>
            </div>
        </div>
        <div class="mail-body text-right tooltip-demo">
            <button title="" data-placement="top" data-toggle="tooltip" type="button" data-original-title="Print" class="btn btn-sm btn-white pull-left"><i class="fa fa-print"></i> Print</button>
            <button title="" data-placement="top" data-toggle="tooltip" type="button" data-original-title="Print" class="btn btn-sm btn-primary">Aceptar</button>
            <button title="" data-placement="top" data-toggle="tooltip" type="button" data-original-title="Print" class="btn btn-sm btn-danger">Declinar</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>