<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <div class="pull-right tooltip-demo" style="margin-top: 30px;">
            <a ui-sref="nueva_empresa" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Nueva Empresa" href="#/nueva_empresa"><i class="fa fa-plus"></i> Agregar Empresa</a>
        </div>
        <h2>Empresas</h2>
        <ol class="breadcrumb">
            <li>
                <a href="dashboard.html">Dashboard</a>
            </li>
            <li class="active">
                <strong>Empresas</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-4">
            <div class="contact-box">
                <a ui-sref="profile">
                    <div class="col-sm-4">
                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="http://www.soluntech.com/_/rsrc/1412805517236/config/customLogo.gif?revision=7">
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3><strong>Soluntech</strong></h3>
                        <p><i class="fa fa-at"></i> soporte@soluntech.com</p>
                        <p><i class="fa fa-mobile"></i> +57 313-598-1211</p>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="contact-box">
                <a ui-sref="profile">
                    <div class="col-sm-4">
                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="http://m.c.lnkd.licdn.com/media/p/1/000/1d3/1e1/2088db8.jpg">
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3><strong>C&amp;Z Consultores</strong></h3>
                        <p><i class="fa fa-at"></i> alex@cyz.com</p>
                        <p><i class="fa fa-mobile"></i> +57 313-598-1211</p>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="contact-box">
                <a ui-sref="profile">
                    <div class="col-sm-4">
                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="https://www.google.com.co/images/srpr/logo11w.png">
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3><strong>Google</strong></h3>
                        <p><i class="fa fa-at"></i> monica@google.com</p>
                        <p><i class="fa fa-mobile"></i> +57 313-598-1211</p>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="contact-box">
                <a ui-sref="profile">
                    <div class="col-sm-4">
                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="http://www.opercar.com/_/rsrc/1360099704756/config/customLogo.gif?revision=16">
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3><strong>Opercar</strong></h3>
                        <p><i class="fa fa-at"></i> michael@opercar.com</p>
                        <p><i class="fa fa-mobile"></i> +57 313-598-1211</p>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="contact-box">
                <a ui-sref="profile">
                    <div class="col-sm-4">
                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="https://www.npmjs.org/static/img/npm.png">
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3><strong>Npm</strong></h3>
                        <p><i class="fa fa-at"></i> sandra@npm.com</p>
                        <p><i class="fa fa-mobile"></i> +57 313-598-1211</p>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </div>
        </div>
    </div>
</div>