<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <div class="pull-right tooltip-demo" style="margin-top: 30px;">
            <a ui-sref="nueva_orden_servicio" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Crear Orden de Servicio" href="#/nueva_orden_servicio"><i class="fa fa-plus"></i> Crear Orden de Servicio</a>
        </div>
        <h2>Ordenes de Servicio</h2>
        <ol class="breadcrumb">
            <li>
                <a href="dashboard.html">Dashboard</a>
            </li>
            <li class="active">
                <strong>Ordenes de Servicio</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Listado de Ordenes de Servicio</h5>
            </div>
            <div class="mail-box">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td class="project-status">
                                <span class="label label-primary">Abierta</span>
                            </td>
                            <td class="numero_orden">
                                <span>#54654-1</span>
                            </td>
                            <td class="project-title">
                                <a ui-sref="project_detail">Soluntech Company</a>
                                <br/>
                                <small>Creada 14/08/2014</small>
                            </td>
                            <!-- <td class="project-completion">
                                <small>Completion with: 48%</small>
                                <div class="progress progress-mini">
                                    <div style="width: 48%;" class="progress-bar"></div>
                                </div>
                            </td> -->
                            <td class="project-people">
                                <a href=""><img alt="image" class="img-circle" src="img/a3.jpg"></a>
                            </td>
                            <td class="project-actions">
                                <a href="#/nueva_orden_servicio" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> View </a>
                                <a href="views/invoice_print.html" target="_blank" class="btn btn-danger btn-sm"><i class="fa fa-print"></i> Pdf </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="project-status">
                                <span class="label label-danger">Cerrada</span>
                            </td>
                             <td class="numero_orden">
                                <span>#54654-2</span>
                            </td>
                            <td class="project-title">
                                <a ui-sref="project_detail">Google Company</a>
                                <br/>
                                <small>Creada 14/08/2014</small>
                            </td>
                            <!-- <td class="project-completion">
                                <small>Completion with: 48%</small>
                                <div class="progress progress-mini">
                                    <div style="width: 48%;" class="progress-bar"></div>
                                </div>
                            </td> -->
                            <td class="project-people">
                                <a href=""><img alt="image" class="img-circle" src="img/a1.jpg"></a>
                            </td>
                            <td class="project-actions">
                                <a href="#/nueva_orden_servicio" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> View </a>
                                <a href="views/invoice_print.html" target="_blank" class="btn btn-danger btn-sm"><i class="fa fa-print"></i> Pdf </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="project-status">
                                <span class="label label-warning">Suspendida</span>
                            </td>
                             <td class="numero_orden">
                                <span>#54654-3</span>
                            </td>
                            <td class="project-title">
                                <a ui-sref="project_detail">Opercar Company</a>
                                <br/>
                                <small>Creada 14/08/2014</small>
                            </td>
                           <!--  <td class="project-completion">
                                <small>Completion with: 48%</small>
                                <div class="progress progress-mini">
                                    <div style="width: 48%;" class="progress-bar"></div>
                                </div>
                            </td> -->
                            <td class="project-people">
                                <a href=""><img alt="image" class="img-circle" src="img/a4.jpg"></a>
                            </td>
                            <td class="project-actions">
                                <a href="#/nueva_orden_servicio" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> View </a>
                                <a href="views/invoice_print.html" target="_blank" class="btn btn-danger btn-sm"><i class="fa fa-print"></i> Pdf </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>